<div class="flex flex-col flex-auto">
    <!-- View mode -->
    <!-- Header -->
    <div class="relative w-full h-30 sm:h-38 px-8 sm:px-12 bg-accent-100 dark:bg-transparent">
        <!-- Close button -->
        <div class="flex items-center justify-end w-full max-w-3xl mx-auto pt-6">
            <a
                mat-icon-button
                [matTooltip]="'Close'"
                [routerLink]="['../..']">
                <mat-icon
                    class="text-gray"
                    [svgIcon]="'heroicons_outline:x-circle'"></mat-icon>
            </a>
        </div>
    </div>

    <!-- Account -->
    <div class="relative flex flex-col flex-auto items-center px-6 sm:px-12">
        <div class="w-full max-w-3xl">
            <!-- Name -->
            <div
                class="mt-3 text-4xl font-bold truncate">{{patient.givenName}} {{patient.familyName}}</div>

            <div class="flex flex-col mt-4 pt-6 border-t space-y-8">
                <!-- Date of Birth -->
                <div class="flex">
                    <mat-icon [svgIcon]="'heroicons_outline:calendar-days'"></mat-icon>
                    <div class="ml-6 leading-6">{{patient.dateOfBirth | dateTimeToFormat:'dd LLL yyyy':config}}</div>
                </div>
                <!-- Sex -->
                <div class="flex">
                    <mat-icon [svgIcon]="'heroicons_outline:user-circle'"></mat-icon>
                    <div class="ml-6 leading-6">{{patient.sex}}</div>
                </div>

                <!-- Hospital Number -->
                <div class="flex">
                    <mat-icon [svgIcon]="'mat_outline:badge'"></mat-icon>
                    <div class="ml-6 leading-6">{{patient.hospitalNumber}}</div>
                </div>

                <!-- Address -->
                <ng-container *ngIf="patient.address">
                    <div class="flex sm:items-center">
                        <mat-icon [svgIcon]="'heroicons_outline:building-office-2'"></mat-icon>
                        <div class="ml-6 leading-6">{{patient.address}}</div>
                    </div>
                </ng-container>

                <!-- Phone -->
                <ng-container *ngIf="patient.phoneNumber">
                    <div class="flex">
                        <mat-icon [svgIcon]="'heroicons_outline:phone'"></mat-icon>
                        <div class="ml-6 leading-6">{{patient.phoneNumber}}</div>
                    </div>
                </ng-container>

                <!-- Regimen -->
                <ng-container *ngIf="patient.assignedRegimen">
                    <div class="flex">
                        <mat-icon [svgIcon]="'mat_outline:elevator'"></mat-icon>
                        <div class="ml-6 leading-6">{{patient.assignedRegimen}}</div>
                    </div>
                </ng-container>

                <!-- Last Refill Date -->
                <div class="flex">
                    <div class="font-medium line-clamp-3">
                        {{'IMPILO.PATIENT.LAST_REFILL'  | transloco}}
                    </div>
                    <div class="ml-6 leading-6" *ngIf="patient.lastRefillDate">{{patient.lastRefillDate | dateTimeToFormat:'dd LLL yyyy':config}}</div>
                </div>

                <!-- Next Refill Date -->
                <div class="flex">
                    <div class="font-medium line-clamp-3">
                        {{'IMPILO.PATIENT.NEXT_REFILL'  | transloco}}
                    </div>
                    <div class="ml-6 leading-6" *ngIf="patient.nextRefillDate">{{patient.nextRefillDate | dateTimeToFormat:'dd LLL yyyy':config}}</div>
                </div>
            </div>

            <!-- Roles -->
            <ng-container>
                <div class="mt-8">
                    <div class="flex-1 px-2 space-y-4">
                        <div class="mt-3 text-2xl font-bold line-clamp-3 text-primary">
                            {{'IMPILO.PATIENT.REFILL_HISTORY'  | transloco}}
                        </div>
                        <ng-container *ngFor="let refill of refills; trackBy: trackByFn">
                            <div class="mt-2 rounded bg-primary-100 ring-1 ring-primary-400 ring-inset p-2">
                                <div class="flex">
                                    <mat-icon [svgIcon]="'mat_outline:elevator'"></mat-icon>
                                    <div class="min-w-0 ml-6 space-y-1">
                                        <div class="flex items-center leading-6">
                                            <div
                                                class="text-md truncate text-secondary">
                                                <span class="font-medium">{{refill.regimen}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex" [matTooltip]="'IMPILO.PATIENT.LAST_REFILL' | transloco">
                                    <mat-icon [svgIcon]="'heroicons_outline:calendar-days'"></mat-icon>
                                    <div class="min-w-0 ml-6 space-y-1">
                                        <div class="flex items-center leading-6">
                                            <div
                                                class="text-md truncate text-secondary">
                                                <span
                                                    class="font-medium">{{refill.date | dateTimeToFormat:'dd LLL yyyy':config}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex" [matTooltip]="'IMPILO.PATIENT.REFILL_DURATION' | transloco">
                                    <mat-icon [svgIcon]="'ad_units'"></mat-icon>
                                    <div class="min-w-0 ml-6 space-y-1">
                                        <div class="flex items-center leading-6">
                                            <div
                                                class="text-md truncate text-secondary">
                                                <span
                                                    class="font-medium">{{'IMPILO.PATIENT.REFILL_DAYS' | transloco: {days: refill.qtyDispensed * 30} }}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="flex" [matTooltip]="'IMPILO.PATIENT.NEXT_REFILL' | transloco">
                                    <mat-icon [svgIcon]="'mat_outline:credit_score'"></mat-icon>
                                    <div class="min-w-0 ml-6 space-y-1">
                                        <div class="flex items-center leading-6">
                                            <div
                                                class="text-md truncate text-secondary">
                                                <span
                                                    class="font-medium">{{refill.dateNextRefill | dateTimeToFormat:'dd LLL yyyy':config}}</span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </ng-container>
        </div>
    </div>
</div>
