<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">
    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer
            class="w-100 md:w-160 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex h-screen bg-gray-100 dark:bg-transparent border">

            <!-- Main -->
            <div class="flex-auto">

                <!-- Header -->
                <div
                    class="flex flex-col sm:flex-row items-start sm:items-center sm:justify-between p-6 sm:py-12 md:px-8 border-b bg-card dark:bg-transparent">

                    <!-- Title -->
                    <div>
                        <div
                            class="text-4xl font-extrabold tracking-tight leading-none">{{'IMPILO.STOCK.LIST_PAGE.TITLE' | transloco}}</div>
                    </div>
                    <div class="mt-4 sm:mt-0">
                        <!-- Add button -->
                        <button
                            mat-flat-button
                            *ngIf="orgType === 'FACILITY'"
                            [routerLink]="['./details']"
                            [color]="'primary'">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span
                                class="ml-2 mr-1">{{'IMPILO.STOCK.LIST_PAGE.ADD' | transloco}}</span>
                        </button>
                    </div>
                </div>

                <!-- Main actions -->
                <div class="flex flex-auto p-4">
                    <div class="flex flex-col flex-auto w-full mx-auto">
                        <!-- Filters -->
                        <div
                            class="flex flex-col sm:flex-row items-center justify-between w-full max-w-xs sm:max-w-none">
                            <mat-form-field
                                class="w-full sm:w-72 mt-4 sm:mt-0 sm:ml-4"
                                [subscriptSizing]="'dynamic'">
                                <mat-icon
                                    matPrefix
                                    class="icon-size-5"
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    matInput
                                    [formControl]="searchInputControl"
                                    [autocomplete]="'off'"
                                    [placeholder]="'IMPILO.STOCK.LIST_PAGE.SEARCH' | transloco">
                            </mat-form-field>
                        </div>

                        <!-- Configuration list -->
                        <div class="relative mt-5">
                            <ng-container *ngIf="dataSource.data?.length; else noConfig">
                                <table [dataSource]="dataSource" class="w-full" mat-table matSort>
                                    <!-- Text Columns -->
                                    <ng-container *ngFor="let column of columns; trackBy: trackByFn">
                                        <ng-container *ngIf="column.type === 'text'" [matColumnDef]="column.property">
                                            <th *matHeaderCellDef class="uppercase" mat-header-cell
                                                mat-sort-header> {{ column.label | transloco }}</th>
                                            <td *matCellDef="let row" [ngClass]="column.cssClasses"
                                                mat-cell>{{ row[column.property] }}</td>
                                        </ng-container>
                                    </ng-container>
                                    <!-- Number Columns -->
                                    <ng-container *ngFor="let column of columns; trackBy: trackByFn">
                                        <ng-container *ngIf="column.type === 'number'"
                                                      [matColumnDef]="column.property">
                                            <th *matHeaderCellDef class="uppercase" mat-header-cell
                                                mat-sort-header> {{ column.label | transloco }}</th>
                                            <td *matCellDef="let row" [ngClass]="column.cssClasses"
                                                mat-cell>{{ row[column.property] | number }}</td>
                                        </ng-container>
                                    </ng-container>
                                    <!-- Date Columns -->
                                    <ng-container *ngFor="let column of columns; trackBy: trackByFn">
                                        <ng-container *ngIf="column.type === 'date'"
                                                      [matColumnDef]="column.property">
                                            <th *matHeaderCellDef class="uppercase" mat-header-cell>
                                                {{ column.label | transloco }}</th>
                                            <td *matCellDef="let row" [ngClass]="column.cssClasses"
                                                mat-cell>{{ row[column.property] | dateTimeToFormat:'dd LLL yyyy' }}</td>
                                        </ng-container>
                                    </ng-container>
                                    <!-- Action Column -->
                                    <ng-container matColumnDef="actions">
                                        <th *matHeaderCellDef mat-header-cell mat-sort-header></th>
                                        <td *matCellDef="let row" class="w-10 text-secondary" mat-cell>
                                            <button (click)="$event.stopPropagation()"
                                                    [matMenuTriggerData]="{ stock: row }"
                                                    [matMenuTriggerFor]="actionsMenu"
                                                    mat-icon-button
                                                    type="button">
                                                <mat-icon svgIcon="mat_outline:more_vert"></mat-icon>
                                            </button>
                                        </td>
                                    </ng-container>

                                    <tr *matHeaderRowDef="visibleColumns" mat-header-row></tr>
                                    <tr (click)="editStock(row)"
                                        *matRowDef="let row; columns: visibleColumns;"
                                        class="hover:bg-hover trans-ease-out cursor-pointer"
                                        mat-row></tr>
                                </table>
                            </ng-container>
                            <ng-template #noConfig>
                                <div
                                    class="flex flex-auto flex-col items-center justify-center bg-gray-100 dark:bg-transparent">
                                    <mat-icon
                                        class="icon-size-24"
                                        [svgIcon]="'heroicons_outline:folder-open'"></mat-icon>
                                    <div class="mt-6 text-2xl font-semibold tracking-tight text-secondary">
                                        {{'IMPILO.STOCK.LIST_PAGE.NO_DATA' | transloco}}
                                    </div>
                                </div>
                            </ng-template>
                            <mat-paginator (page)="page($event)" [pageSizeOptions]="pageSizeOptions"
                                           [pageSize]="pageSize"
                                           class="sticky left-0 mt-10">
                            </mat-paginator>
                        </div>
                    </div>
                </div>
            </div>
        </mat-drawer-content>
    </mat-drawer-container>
</div>
<mat-menu #actionsMenu="matMenu" xPosition="before" yPosition="below">
    <ng-template let-stock="stock" matMenuContent>
        <button (click)="deleteStock(stock)" mat-menu-item
                [disabled]="stock.issued && stock.issued > 0">
            <mat-icon svgIcon="mat:delete"></mat-icon>
            <span>{{'CORE.BUTTONS.DELETE' | transloco}}</span>
        </button>
    </ng-template>
</mat-menu>
